.colorAzul
{
color:#fff;
background-color: #000;
margin: 0 auto ;
text-align: center  ;
font-size: 40px;
width: 400px;
height: 50px;

}
.btnNombre
{
    padding: 10px;
    background-color: green;
 color: white;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    margin: 10px; /* Añadido para dar espacio entre los botones */
    border-radius: 10px;
    font-size: 20px;
}

.nombre-mos
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    font-size: 18px;
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;

    margin: 0 auto;
}
  

/*css tabla */

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  

  .celda-encabezado {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
  }
  
 
  .tabla td,
  .tabla th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  
  .tabla tbody tr:nth-child(even) 
  {
    background-color: #f9f9f9;
  }
   


.button-container 
{
    text-align: center;
 }
 .button {
    padding: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    margin: 10px; /* Añadido para dar espacio entre los botones */
border-radius: 15px;
font-size: 25px;
}
  
  
   .custom-button:hover
   {
    background-color:  #abb5bd;
    
   }

  .button-1 {
    color: rgb(226, 70, 226); /* Color para el botón 1 */
  }
  
  .button-2 {
    color: brown; /* Color para el botón 2 */
  }
  
  .button-3 {
    color: #5733FF; /* Color para el botón 3 */
  }
  
  .button-4 {
    color:red /* Color para el botón 4 */
  }
  
 
  .vistaMos 
  {
    border-radius: 10px;
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
   
    width: 400px;
    height: 80px;
    border: 2px solid black;
    margin: 0 auto;  
  }
  
  
  